<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form action="/auth/login" method="post">
            <label for="username">Enter login:</label>
        <p>
            <input type="text" id="username" name="username">
        </p>
            <label for="password">Enter password:</label>
        <p>
            <input type="text" id="password" name="password">
        </p>
        <button type="submit">Sign In</button>
    </form>
</div>
</body>
</html>